@charset "UTF-8";

tr>th {
	text-align: center;
}

textarea {
	resize: none;
}

.input_infotxt {
	float: left;
	margin: 10px 10px 0 0;
}

.input_infotxt2 {
	float: left;
	margin: 10px 0px 0 0;
}

.input_write {
	clear: both;
	margin: 10px 0 0 0px;
	float: left;
}

.outer {
  display: flex;
  margin-top: 100px;
}

.inner {
  margin: auto;
}

#title, #content {
	width: 410px;
}

.input_margin {
	margin: 0 10px 0 0;
}

#pwdCheckBox {
	width: 400px;
    height: 220px;
    border: 3px solid #29367c;
    background: #fff;
}

.pwdBox { 
    height: 60px;
 } 

.tempBtnOpt {
    margin-left: 192px;
}

.tempBtnOpt2 {
    margin-left: 10px;
}