<?xml version="1.0" encoding="UTF-8"?>
<!-- springuser 테이블 mapper 파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<!-- 1. 로그인 처리 SQL -->
	<!-- public UserVO login(UserVO userVO); -->
	<select id="login" resultType="com.bamboo.board.model.UserDto"
		parameterType="com.bamboo.board.model.UserDto">
		SELECT *
		FROM USER
		WHERE ID=#{id} AND PASSWORD=#{password}
	</select>

	<!-- 2. 아이디 중복 체크 -->
	<!-- public String idCheck(String id); -->
	<select id="idCheck" resultType="String" parameterType="String">
		SELECT ID
		FROM USER
		WHERE ID = #{id}
	</select>

	<select id="nameCheck" resultType="String" parameterType="String">
		SELECT NAME
		FROM USER
		WHERE NAME = #{name}
	</select>

	<!-- 3. 회원 가입 -->
	<!-- public int insertUser(UserVO userVO); -->
	<insert id="insertUser"
		parameterType="com.bamboo.board.model.UserDto">
		INSERT INTO USER
		VALUES(#{id}, #{password}, #{name})
	</insert>

	<select id="getUserPw" resultType="String"
		parameterType="String">
		SELECT PASSWORD
		FROM USER
		WHERE ID = #{id}
	</select>

	<select id="getUserInfo"
		resultType="com.bamboo.board.model.UserDto"
		parameterType="com.bamboo.board.model.UserDto">
		SELECT *
		FROM USER
		WHERE ID = #{id}
	</select>

	<update id="updateUser"
		parameterType="com.bamboo.board.model.UserDto">
		UPDATE USER
		SET
		NAME = #{name},
		PASSWORD = #{password}
		WHERE
		ID = #{id}
	</update>


	<delete id="deleteUser" parameterType="String">
		DELETE FROM
		USER
		WHERE ID =
		#{id}
	</delete>

</mapper>